#resultsdisplay {
  display: none;
}

.well {
  border-style: solid;
  border-color: red;
  border-width: thick;
  margin-right: 10px;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
  opacity: 0.7;
}

h1 {
  text-align: center;
}
body {
  background: url("/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: black;
  background-repeat: no-repeat;
}
